@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
  resize: none;
}

.main {
  display: flex;
  justify-content: center;
}
.view {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
.view > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0 40px;

  height: 100%;
  align-items: center;
  justify-content: center;
}
.page {
  width: 100%;
  height: 100%;
}

.slide {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.input-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}
.input-wrap .error-message {
  position: relative;
  left: 4px;
  bottom: -3px;
  font-size: 14px;
}

input, textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 14px;
}