.post_page {
  display: flex;
  flex-direction: column;
  textarea {
    margin-top: 10px;
    min-block-size: 158px;
    max-block-size: 258px;
    field-sizing: content;
    &:focus {
      border: 1px solid #000;
    }
  }
  button {

  }
}